<head>
  <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>



<div id="cover" class="row">
    <form method="post" action="">
            <label>
                <h2> Search for coursera courses by category.</h2>

                <p> It may take a minute to crawl the website and create the csv file. Please be patient.</p>
                
               
                <div>
                  <br>
                  {{errormessage}}
                  <br>
                </div>

                <input type="text" id="ccat" name="ccategory"placeholder="Type Category" required>

              </label>
              <br>
              <button class="button-31" formmethod="post" role="button">Search</button>

        </div>


      </div>
    </form>
  </div>
    <br>
  <div class="row">
    <h4> Existing Categories </h4>
    <ul>data science</ul>
    <ul>business</ul>
    <ul>computer science</ul>
    <ul>personal development</ul>
    <ul>information technology</ul>
    <ul>language learning</ul>
    <ul>health</ul>
    <ul>math and logic</ul>
    <ul>social sciences</ul>
    <ul>physical science and engineering</ul>
    <ul>arts and humanities</ul>

  </div>

</body>

